= link_to "环境配置目录" , "/data/install_environment.tar.gz"
= link_to "获取知识地图" , "/data/use_Graphviz_creating_img.tar.gz"
= link_to "获取几米CSS库" , "/data/pad.tar.gz"
= link_to "获取短信参数格式" , "/data/sms_parameter_style.tar.gz"
= link_to "获取应掌握的知识点" , "/data/know_it.tar.gz"
= link_to "获取入门教程练习代码" , "/data/angular-phonecat.tar.gz"
= link_to "AngularJS控制器外调用" , "/data/angullar_asynchronous_calls_model.tar.gz"
