<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 78 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
</br>
<span>
  <%= link_to "个人统计", current_user %>
</span>
<span>
  共<%= current_user.microposts.count %>条广播
</span>


<!--<%= pluralize(current_user.microposts.count, "micropost") %>-->